{% extends "users/base.html" %}
{% load schedule_tags %}
{% block title %}Schedule{% endblock %}
{% block content %}
    {% include "users/user/includes/header.html" %}
    <div class="container pt-4">
        <h1>Emploi du temps</h1>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            </thead>
            <tbody>
            {% for hour in hours %}
                <tr>
                    <td>{{ hour }}</td>
                    {% for day in days %}
                        <td>
                            {% with course=schedule.day.hour %}
                                {% if course %}
                                    {{ course.name }}<br>
                                    {{ course.teacher.first_name }} {{ course.teacher.last_name }}
                                {% else %}
                                    Pas de cours
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}