<form method="post" enctype="multipart/form-data" class="mx-1 mx-md-4 d-flex flex-column gap-4 align-items-center">
    {% csrf_token %}
    <div class="d-flex gap-4 w-100 align-items-start">
        <div class="form-row mb-4 w-100">
            <label>First name</label>
            <input name="first_name" type="text" class="form-control w-100"
                   placeholder="First name" value="{{ form.data.first_name }}">
            {% for error in form.first_name.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-row mb-4 w-100">
            <label>Last name</label>
            <input name="last_name" type="text" class="form-control w-100"
                   placeholder="Last name" value="{{ form.data.last_name }}">
            {% for error in form.last_name.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex gap-4 w-100 align-items-start">
        <div class="form-row mb-4 w-100">
            <label>User name</label>
            <input name="username" type="text" class="form-control w-100"
                   placeholder="User name" value="{{ form.data.username }}">
            {% for error in form.username.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-row mb-4 w-100">
            <label>E-mail</label>
            <input name="email" type="email" class="form-control w-100"
                   placeholder="E-mail" value="{{ form.data.email }}">
            {% for error in form.email.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex gap-4 w-100 align-items-start">
        <div class="form-row mb-4 w-100">
            <label>Password</label>
            <input name="password1" type="password" class="form-control w-100"
                   placeholder="Password" value="{{ form.data.password1 }}">
            {% for error in form.password1.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-row mb-4 w-100">
            <label>Repeat password</label>
            <input name="password2" type="password" class="form-control w-100"
                   placeholder="Password" value="{{ form.data.password2 }}">
            {% for error in form.password2.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% if  user_type == 'student' %}
        <div class="form-row mb-4 w-100">
            <label>Classe</label>
            <select name="classe" class="form-control w-100">
                {% for choice in form.classe.field.choices %}
                    <option value="{{ choice.0 }}"
                            {% if choice.0 == form.data.classe %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
            {% for error in form.classe.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div>
        <div class="d-flex justify-content-center mb-4">
            <img id="selectedAvatar"
                 src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                 class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;"
                 alt="example placeholder"/>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" style="cursor: pointer" for="customFile2">Choose file</label>
                <input type="file" name="profile_image" class="form-control d-none" id="customFile2"/>
            </div>
        </div>
        {% for error in form.profile_image.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-end mx-4 mb-3 mb-lg-4 w-100">
        <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
    </div>

</form>
<script>
    document.getElementById('customFile2').addEventListener('change', function (event) {
        var preview = document.getElementById('selectedAvatar');
        preview.src = URL.createObjectURL(event.target.files[0]);
        preview.style.display = 'block';
    });
</script>